@{
    ViewData["Title"] = "Upload CSV";
}

<h2>Upload CSV File</h2>

<form asp-action="UploadCSV" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label for="file">Choose CSV File</label>
        <input type="file" name="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Upload</button>
</form>
<a asp-action="Index" class="btn btn-success mt-3">View Contacts</a>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
